{% extends 'pizzas/base.html' %}
{% load bootstrap4 %}


{% block content %}
<p>Pizza: {{ pizza }}</p>
<img src="{{pizza.image.url}}" class="img-thumbnail" style="max-height: 200px;">
<br><br>

<p>Toppings</p>

<ul>
    {% for topping in toppings%}
    <li>
        {{ topping }}
    </li>
    {% empty %}
    <li>No toppings.</li>
    {% endfor %}
</ul>

<p>Comments:</p>
<ul>
    {% for comment in comments %}
    <li>
        {{ comment }}
    </li>
    {% empty %}
    <li>No comments yet.</li>
    {% endfor %}
    <p>
        <a href="{% url 'pizzas:comment' pizza.id %}">New comment</a>
    </p>
</ul>

{% endblock content %}